body {
  background: #0b0b0b;
  color: #e0e0e0;
  font-family: Consolas, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden { display: none; }

#login, #panel {
  background: #111;
  border: 1px solid #800;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px #900;
  width: 400px;
  text-align: center;
}

input {
  width: 90%;
  margin: 8px 0;
  padding: 8px;
  background: #1a1a1a;
  border: 1px solid #555;
  color: white;
}

button {
  background: #800;
  border: none;
  padding: 10px;
  width: 100%;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #a00;
}

#error {
  color: #ff5555;
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}

.box {
  background: #181818;
  padding: 15px;
  border: 1px solid #444;
}

.sign {
  margin-top: 20px;
  font-style: italic;
  color: #666;
}
